# Bí mật — TUYỆT ĐỐI không commit
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
test_db.sqlite3*
/media/
/staticfiles/*
!/staticfiles/.gitkeep
/logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# Hệ điều hành
.DS_Store
Thumbs.db
.coverage
htmlcov/
